:root {
  --raisin-black: #212738ff;
  --bittersweet: #f97068ff;
  --pear: #d1d646ff;
  --antiflash-white: #edf2efff;
  --vivid-sky-blue: #57c4e5ff;
  --non-photo-blue: #a7e0f1ff;
  --honeydew: #cfded5ff;
}

.account-preferences {
  width: 100%;
  min-width: 400px;
  margin: auto;
  padding: 20px;
  background: var(--bittersweet);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.account-preferences h2 {
  text-align: center;
  margin-bottom: 20px;
}

.account-preferences table {
  width: calc(100% - 40px);
  margin-bottom: 20px;
  border-collapse: collapse;
}

.account-preferences th,
.account-preferences td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.account-preferences tr:nth-child(even) {
  background-color: #f9f9f9;
}

.account-preferences button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.account-preferences button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .account-preferences {
    margin: 0 10px;
    padding: 20px 10px; /* Adjust padding for smaller screens */
  }

  .account-preferences table {
    width: calc(100% - 20px);
  }
}
