:root {
  --raisin-black: #212738ff;
  --bittersweet: #f97068ff;
  --pear: #d1d646ff;
  --antiflash-white: #edf2efff;
  --vivid-sky-blue: #57c4e5ff;
  --non-photo-blue: #a7e0f1ff;
  --honeydew: #cfded5ff;
}

.profile-background {
  background-color: var(--honeydew);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  width: 90%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr; /* Adjust for smaller screens */
  }
}
