.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 1;
  max-width: fit-content;
  height: 250px;
  box-sizing: border-box;
  /* margin: 20px; */
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.chart-container .chart {
  width: 100%;
  height: auto;
}
