:root {
  --raisin-black: #212738ff;
  --bittersweet: #f97068ff;
  --pear: #d1d646ff;
  --antiflash-white: #edf2efff;
  --vivid-sky-blue: #57c4e5ff;
  --non-photo-blue: #a7e0f1ff;
  --honeydew: #cfded5ff;
}

.food-entry-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--antiflash-white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  min-width: 90%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .food-entry-container {
    padding: 15px;
    margin: 20px auto;
  }
}
