.nutrition-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

.nutrition-container > div {
  flex: 1;
  max-width: 50%;
}
