* {
  --raisin-black: #212738ff;
  --bittersweet: #f97068ff;
  --pear: #d1d646ff;
  --antiflash-white: #edf2efff;
  --vivid-sky-blue: #57c4e5ff;
}

.footer {
  position: fixed;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #cfdade;
  color: white;
  text-align: center;
  line-height: 50px;
  z-index: 1000;
}

.footer-link {
  margin: 0 10px;
  text-decoration: none;
  color: #202c39;
}

.footer-link:hover {
  text-decoration: underline;
}
